<div class='content'>
  <div class='row'>

    <div class='col-md-12'>
      <div class='card'>
        <div class='card-header'>
          <strong class='card-title'>customers</strong>
        </div>
        <div class='card-body'>
          <table id='bootstrap-data-table' class='table table-bordered'>
            <thead>
              <tr>
                <th scope='col'>Id proof</th>
                <th scope='col'>Name</th>
                <th scope='col'>Mobile number</th>
                <th scope='col'>education</th>
                <th scope="col">hub</th>
                <th scope='col'>Email</th>
                <th scope='col'>Experience</th>
                <th>Cancell approvel</th>
              </tr>
            </thead>
            <tbody>
              {{#each vendorData}}
                  <tr>
                     <td><a onclick="getVendorid('{{this.idproof}}')"><img
                        src='/uploads/{{this.idproof}}'
                        height='50px'
                        alt=''
                      /></a></td>
                    <td>{{this.data.username}}</td>
                    <td>{{this.data.mobileNumber}}</td>
                    <td>{{this.data.education}}</td>
                    <td>{{this.data.hubName}}</td>
                    <td>{{this.data.email}}</td>
                    <td>{{this.data.expreience}}</td>
                    <td class="d-flex justify-content-center"><a onclick="notApprove('{{this._id}}')" id="btnBlock" class="btn-secondary btn" type="button" >Not approve</a></td>
                  
                  </tr>
                {{/each}}


            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<script src='/vendor/js/lib/data-table/datatables.min.js'></script>
<script src='/vendor/js/lib/data-table/dataTables.bootstrap.min.js'></script>
<script src='/vendor/js/lib/data-table/dataTables.buttons.min.js'></script>
<script src='/vendor/js/lib/data-table/buttons.bootstrap.min.js'></script>
<script src='/vendor/js/lib/data-table/jszip.min.js'></script>
<script src='/vendor/js/lib/data-table/vfs_fonts.js'></script>
<script src='/vendor/js/lib/data-table/buttons.html5.min.js'></script>
<script src='/vendor/js/lib/data-table/buttons.print.min.js'></script>
<script src='/vendor/js/lib/data-table/buttons.colVis.min.js'></script>
<script src='/vendor/js/init/datatables-init.js'></script>

<script>
  $(document).ready(function () {
    $('#bootstrap-data-table').DataTable();
});
</script>