<div class="site-section pt-0 pb-0 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
              <form class="trip-form" action="/vehicles" method="post" onsubmit="submitdata()">
                <div class="row align-items-center mb-4">
                  <div class="col-md-6">
                    <h3 class="m-0">Begin your trip here</h3>
                  </div>
                  <div class="col-md-6 text-md-right">
                    <span class="text-primary">{{vehicleLength}}</span> <span>bikes available</span></span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="cf-1">Where you from</label>
                <select class="form-control" id="cf-1" name="pickUpLocation">
                      <option value="{{details.pickUpLocation}}">{{details.pickUpLocation}}</option>
                  {{#each Hub}}
                  <option value="{{this.data.hubName}}">{{this.data.hubName}}</option>
                  {{/each}}
                </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cf-2">Where you go</label>
                <select class="form-control" id="cf-1" name="dropLocation">
                    <option value="{{details.dropLocation}}">{{details.dropLocation}}</option>
                  {{#each Hub}}
                  <option value="{{this.data.hubName}}">{{this.data.hubName}}</option>
                  {{/each}}
                </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cf-3">Journey date</label>
                    <input type="text" class="form-control" id="book_pick_date" name="pickUpDate"  value="{{details.pickUpDate}}" required>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cf-4">Return date</label>
                    <input type="text" name="dropDate" class="form-control" id="book_off_date"value="{{dropDate}}" required>
                  </div>
                </div>
				<div>
                <label for="" class="label">i need to ride a</label>
                <div class="d-flex justify-content-start">
                  <label>
                    <input type="radio" name="selectVehicle" value="bike" onclick="this.form.submit()" id="radioButton" checked>
                    <img src="/images/motorbike.png" height="50px">
                  </label>

                  <label>
                    <input type="radio" name="selectVehicle" onclick="this.form.submit()" id="radioButton" value="car">
                    <img src="/images/car.png" height="50px">
                  </label>
                </div>
              </div>
                  {{!-- <div class="pt-2 ">
                    <input type="submit" value="Submit" class="btn btn-success col-4 col-md-2">
                  </div> --}}
              </form>
            </div>
        </div>
      </div>
    </div>
		

		<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
          {{#each bikes}}
    			<div class="col-md-4">
    				<div class="car-wrap rounded ftco-animate">
    					<div class="img rounded d-flex align-items-end" style="background-image: url(/uploads/{{bikes.vehicleImage}});">
    					</div>
    					<div class="text">
    						<h2 class="mb-0"><a href="/">{{bikes.Name}}</a></h2>
    						<div class="d-flex mb-3">
	    						<span class="cat">{{bikes.Transmissiontype}} ,{{bikes.Seater}}</span>
	    						<p class="price ml-auto">RS {{bikes.Rent}}<span>/day</span></p>
    						</div>
    						<p class="d-flex mb-0 d-block"><a id="addDate" href="/details{{bikes._id}}" class="btn btn-danger py-2 ml-1 col-12" type="submit" >Book now</a></p>
						
              <div class="mx-auto mt-2 d-block"><p id="message"></p></div>
    					</div>
    				</div>
    			</div>
          {{/each}}
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>
    



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

