
    <!-- END nav -->
    
    <div class="site-section pt-0 pb-0 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
              <form class="trip-form" action="/vehicles" onsubmit="submitdata()" method="post">
                <div class="row align-items-center mb-4">
                  <div class="col-md-6">
                    <h3 class="m-0">Begin your trip here</h3>
                  </div>
                  <div class="col-md-6 text-md-right">
                    <span class="text-primary">{{vehicleLength}}</span> <span>cars available</span></span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="cf-1">Where you from</label>
                    <select class="form-control" id="cf-1" name="pickUpLocation">
                      <option value="{{details.pickUpLocation}}">{{details.pickUpLocation}}</option>
                   {{#each Hub}}
                  <option value="{{this.data.hubName}}">{{this.data.hubName}}</option>
                  {{/each}}
                </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cf-2">Where you go</label>
                   <select class="form-control" id="cf-1" name="dropLocation">
                     <option value="{{details.dropLocation}}">{{details.dropLocation}}</option>
                   {{#each Hub}}
                  <option value="{{this.data.hubName}}">{{this.data.hubName}}</option>
                  {{/each}}
                </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cf-3">Journey date</label>
                    <input type="text" class="form-control" required name="pickUpDate" id="book_pick_date" value="{{details.pickUpDate}}">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cf-4">Return date</label>
                    <input type="text" class="form-control" required name="dropDate" id="book_off_date" value="{{dropDate}}">
                  </div>
                </div>
				<div>
                <label for="" class="label">i need to ride a</label>
                <div class="d-flex justify-content-start">
                  <label>
                    <input type="radio" name="selectVehicle" value="bike">
                    <img src="/images/motorbike.png" height="50px">
                  </label>

                  <label>
                    <input type="radio" name="selectVehicle" value="car" checked>
                    <img src="/images/car.png" height="50px">
                  </label>
                </div>
              </div>
                  <div class="pt-2 ">
                    <input type="submit" value="Submit" class="btn btn-danger col-md-2 col-4">
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
		

		<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
          {{#each cars}}
    			<div class="col-md-4">
    				<div class="car-wrap rounded ftco-animate">
    					<div class="img rounded d-flex align-items-end" style="background-image: url(/uploads/{{cars.vehicleImage}});">
    					</div>
    					<div class="text">
    						<h2 class="mb-0">{{cars.Name}}</a></h2>
    						<div class="d-flex mb-3">
	    						<span class="cat">{{cars.Transmissiontype}} ,{{cars.Seater}}</span>
	    						<p class="price ml-auto">RS {{cars.Rent}} <span>/day</span></p>
    						</div>
    						<p class="d-flex mb-0 d-block"><a href="/details{{cars._id}}" class="btn btn-secondary py-2 ml-1 col-12">Details</a></p>
              <div class="mx-auto mt-2 d-block"><p id="message"></p></div>
    					</div>
    				</div>
    			</div>
          {{/each}}
    			
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>
    
