<!-- END nav -->
<style>.card{border:none;position: relative}.off{font-size: 30px;margin-top: -16px !important;color: blue}.flat{font-size: 20px}.star{margin-top: 25px !important;font-size: 28px}.line{padding-right: 8rem!important;padding-left: 8rem!important}.line hr{height: 2px}</style>
<div class="ftco-degree-bg" data-stellar-background-ratio="0.5">
  <div style=" position: absolute;" class="main-text">
    <p class="first-text"><span class="text-danger">Welcome</span> to Live Drive</p>
    <p class="second-text">The <span class="text-danger">favorite</span> way of drive</p>
  </div>
  <div class="d-flex justify-content-end" style="position: relative;">
    <img src="/images/hero bg.png" alt="" class="background_img" >
    <img src="/images/hero.png" alt="" class="car_image" style="position: absolute; padding-top: 100px;">
  </div>

</div>

<section class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-12	featured-top">
        <div class="row no-gutters" style="padding-top: 250px">
          <div class="col-md-4 d-flex align-items-center">
            <form id="vehicleSearch" action="/vehicles"  onsubmit="submitdata()" class="request-form ftco-animate bg-primary" method="post">
              <h2>Make your trip</h2>
              <div class="form-group bg-primary">
                <label for="" class="label">Pick-up location</label>
                <select class="form-control" id="selectPickup" name="pickUpLocation">
                  {{#each Hub}}
                  <option value="{{this.data.hubName}}">{{this.data.hubName}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label for="" class="label">Drop-off location</label>
                <select class="form-control" id="selectPickup" name="dropLocation">
                  {{#each Hub}}
                  <option value="{{this.data.hubName}}">{{this.data.hubName}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="d-flex">
                <div class="form-group mr-2">
                  <label for="" class="label">Pick-up date</label>
                  <input type="text" class="form-control" name="pickUpDate" required id="book_pick_date" placeholder="Date">
                </div>
                <div class="form-group ml-2">
                  <label for="" class="label">Drop-off date</label>
                  <input type="text" class="form-control" name="dropDate" required id="book_off_date" placeholder="Date">
                </div>
              </div>
              <div>
                <label for="" class="label">i need to ride a</label>
                <div class="d-flex justify-content-start">
                  <label>
                    <input type="radio" name="selectVehicle" value="bike" checked>
                    <img src="images/motorbike.png" height="50px">
                  </label>

                  <label>
                    <input type="radio" name="selectVehicle" value="car" autofocus >
                    <img src="/images/car.png" height="50px">
                  </label>
                </div>
              </div>
              <div class="form-group">
                <input type="submit" value="Start a ride now"  class="btn btn-secondary py-3 px-4">
              </div>
            </form>
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="services-wrap rounded-right w-100">
              <h3 class="heading-section mb-4">Better Way to Rent Your Perfect vehicles</h3>
              <div class="row d-flex mb-4">
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span
                        class="flaticon-route"></span></div>
                    <div class="text w-100">
                      <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span
                        class="flaticon-handshake"></span></div>
                    <div class="text w-100">
                      <h3 class="heading mb-2">Select the Best Deal</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span
                        class="flaticon-rent"></span></div>
                    <div class="text w-100">
                      <h3 class="heading mb-2">Reserve Your Rental vehicles</h3>
                    </div>
                  </div>
                </div>
              </div>
              <p><a class="btn btn-primary py-3 px-4">Start a ride with us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<section class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        {{!-- <span class="subheading"></span> --}}
        <h2 class="mb-2">Offers for you</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="carousel-car owl-carousel">
         {{#each coupons}}
          <div class="item">
           <div class="text card">
                <div class="text-center p-5"> <small class="text-uppercase flat">Flat</small> </div>
                <div class="d-flex justify-content-center px-2">
                    <div class="d-flex flex-row">
                        <h1 class="mt-0 off">{{this.coupon.CouponName}}</h1> <sup class="mt-2 text-primary star">*</sup>
                    </div>
                </div>
                <div class="line">
                    <hr>
                </div>
                <div class="text-center mb-5"> <span class="text-uppercase">Valid till {{this.coupon.ExpiryDate}}</span> </div>
                <div class="text-right p-1"> <small>*T&C APPLY</small> </div>
            </div>
          </div>
         {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
        style="background-image: url(images/about.jpg);">
      </div>
      <div class="col-md-6 wrap-about ftco-animate">
        <div class="heading-section heading-section-white pl-md-5">
          <span class="subheading">About us</span>
          <h2 class="mb-4">Welcome to LiveDrive</h2>

          <p>Live Drive cars are the most users friendly website and known as one of the most reputable Car Rental companies on India.

With over 35 years experience in the Car Rental business we are able to offer our valued customer a varied selection of safe, reliable cars combined with competitive rates and a personal and friendly service.Bengaluru airport rides made easy with Drivezy. No need to book an expensive cab to or from Bengaluru airport. Hire a one-way car to or from Bengaluru airport and drive yourself at half the price</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Services</span>
        <h2 class="mb-3">Our Latest Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="services services-2 w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span>
          </div>
          <div class="text w-100">
            <h3 class="heading mb-2">Wedding Ceremony</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services services-2 w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center"><span
              class="flaticon-transportation"></span></div>
          <div class="text w-100">
            <h3 class="heading mb-2">City Transfer</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services services-2 w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
          <div class="text w-100">
            <h3 class="heading mb-2">Airport Transfer</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services services-2 w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center"><span
              class="flaticon-transportation"></span></div>
          <div class="text w-100">
            <h3 class="heading mb-2">Whole City Tour</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 heading-section heading-section-white ftco-animate">
        <h2 class="mb-3">Do You Want To Earn With Us? So Don't Be Late.</h2>
        <a href="/vendor" class="btn btn-primary btn-lg">Become A vendor</a>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Testimonial</span>
        <h2 class="mb-3">Happy Clients</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap rounded text-center py-4 pb-5">
              <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
              </div>
              <div class="text pt-4">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap rounded text-center py-4 pb-5">
              <div class="user-img mb-2" style="background-image: url(images/person_2.jpg)">
              </div>
              <div class="text pt-4">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap rounded text-center py-4 pb-5">
              <div class="user-img mb-2" style="background-image: url(images/person_3.jpg)">
              </div>
              <div class="text pt-4">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap rounded text-center py-4 pb-5">
              <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
              </div>
              <div class="text pt-4">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap rounded text-center py-4 pb-5">
              <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
              </div>
              <div class="text pt-4">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-counter ftco-section img bg-light" id="section-counter">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="60">0</strong>
            <span>Year <br>Experienced</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="1090">0</strong>
            <span>Total <br>Cars</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="2590">0</strong>
            <span>Happy <br>Customers</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text d-flex align-items-center">
            <strong class="number" data-number="67">0</strong>
            <span>Total <br>Branches</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg></div>

 